body:after{
    background-image: url("../images/map_for_map.png");
}

section {
    height: 80%;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.minnesota-map {
    height: 100%;
    width: 100%;
}
