<html>
    <head>
        <title>404</title>
    </head>
    <body>
        <div>Most likely, you have entered an incorrect school name!</div>
        <div>Remember</div>
        <ul>
            <li>To access an individual school's information, use the url extension "/school/{school_name}"</li>
            <li>To access an individual school's COVID data, use the url extension "/school/{school_name}/covid"</li>
            <li>To access a list of districts, use the url extension "/list/districts"</li>
            <li>To access a list of schools, use the url extension "/list/schools"</li>
            <li>To access a list of schools within a specific district, use the url extension "/district/{districtName}/schools"</li>
            <li>If you want to enter a school name to the URL, then write it with all the capital letters without spaces (ex.AvalonSchool)</li>
        </ul>
        </div>
    </body>
</html>

