<!DOCTYPE html>

<head>
  <title>District Data</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='batmend_static/district.css') }}">
  <!- Thanks to Artem and this stackoverflow article for helping me figure this out: https://stackoverflow.com/questions/22259847/application-not-picking-up-css-file-flask-python -!>
</head>

<body>
    <div class="header">
        <a href="/"> <h1>MN Schools COVID19 Data</h1> </a>
      <div class = "headerNav">
        <ul>
          <a href="/District/test"><button class="navButton">Use our smart search</button></a>
          <a href="/list/districts"><button class="navButton" >See all districts</button></a>
          <a href="/list/schools"><button class="navButton">See all schools</button></a>
        </ul>
      </div>
    </div>
  <div class="Highlight">
    <ul>
      <li>Data source: <a href="https://www.covidschooldatahub.com/for_researchers"> COVID-19 School Data Hub, School Learning Model Database </a></li>
      <li>Date downloaded - 04/05/2022</li>
    </ul>
  </div>
  <h2>{{name}}</h2>
  <div class="mainDataHeader">
    <details>
      <summary></summary>
      <ul>
        <h2>Enrollment: {{enrollment}} students</h2>
        <details>
          <div class="CovidData">
          <summary>List of schools</summary>
          <ul>
            {% for name in schoolNames %}
            <li>{{name}}</li>
            {% endfor %}
          </ul>
        </div>
        </details>
        <div class="CovidData">
          <details>
            <summary>COVID Data</summary>
            <ul>
              <! inspired from this post https://stackoverflow.com/questions/1465249/get-lengths-of-a-list-in-a-jinja2-template>
                {% for i in range(weeks|length) %}
                <div class="Weekly">
                  <details>
                    <summary>Week {{i+1}}</summary>
                    {% for data in weeks[i] %}
                    <li>{{data}}</li>
                    {% endfor %}
                  </details>
                </div>
                {% endfor %}
            </ul>
    </details>
    </ul>
  </div>
  </details>
</body>
  </html>
