<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Under Construction</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/universal.css') }}">
</head>
<body>
    <div class="header nav">
      <span><a class="logo_text" href="/"> MN Schools COVID19 Data </a></span>
      <span class = "headerNav">
          <a href="/search"><button class="navButton">Use smart search</button></a>
          <a href="/list/districts"><button class="navButton" >See all districts</button></a>
          <a href="/list/schools"><button class="navButton">See all schools</button></a>
      </span>
    </div>

    <h2>404. That's an error.</h2>
    <h3>Something has catastrophically gone wrong. Please try reloading the page, or navigating away.</h3>
    <p>Do you think that this 404 error is a mistake or have spotted a bug you think we should know about? <a href="mailto:cs257_team_a_bug_report@roocase.org"> Contact us here. </a></p>


</body>
</html>