<html lang="en"> 
  <head>
    <title>See All Districts</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/universal.css') }}">
  </head>
  
  <body>
    <div class="header nav">
      <span><a class="logo_text" href="/"> MN Schools COVID19 Data </a></span>
      <span class = "headerNav">
        <a href="/search"><button class="navButton">Use smart search</button></a>
        <a href="/list/districts"><button class="navButton" >See all districts</button></a>
        <a href="/list/schools"><button class="navButton">See all schools</button></a>
      </span>
    </div>

    <article class="districts container column_view">
      <ul>
        {%for district in district_names%}
        <li><a href ="{{'/district/'+district[0]}}")>{{ district[0] }}</a></li>
        {%endfor%}
      </ul>
    </article>
  </body>
</html>
