<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header (Reference)</title>
    <link rel="stylesheet" href="../static/styles/universal.css">

</head>
<body>
  <div class="header">
      <h1>MN Schools COVID19 Data</h1>
    <div class = "headerNav">
        <a href="/search/schools"><button class = "button" style="width:10%">Search Schools</button></a>
        <a href="/list/schools"><button class = "button" style="width:10%">List Schools</button></a>
        <a href="/list/districts"><button class = "button" style="width:10%">List Districts</button></a>
    </div>
  </div>
</body>
</html>