<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header (Reference)</title>
    <link rel="stylesheet" href="../static/styles/universal.css">

</head>
<body>
    <div class="header nav">
      <span><a class="logo_text" href="/"> MN Schools COVID19 Data </a></span>
      <span class = "headerNav">
          <a href="/District/test"><button class="navButton">Use smart search</button></a>
          <a href="/list/districts"><button class="navButton" >See all districts</button></a>
          <a href="/list/schools"><button class="navButton">See all schools</button></a>
      </span>
    </div>
</body>
</html>