<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header (Reference)</title>
    <link rel="stylesheet" href="../static/styles/universal.css">

</head>
<body>
    <div class="header">
        <a href="/"> <h1>MN Schools COVID19 Data</h1> </a>
      <div class = "headerNav">
        <ul>
          <a href="/District/test"><button class="navButton" style="width:30%">Use our smart search</button></a>
          <a href="/list/districts"><button class="navButton" style="width:30%">See all districts</button></a>
          <a href="/list/schools"><button class="navButton" style="width:30%">See all schools</button></a>
        </ul>
      </div>
    </div>
</body>
</html>