<html lang="en">

  <head>
    <!-- Title -->
    <title>MN Schools</title>
    <!-- Making Flask comprehend the css file -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='/styles/universal.css') }}">
<!--    <link rel="stylesheet" href="../static/styles/universal.css">-->
    <style>
      .datausage {
        border radius: 2px;
        margin-bottom: 50px;
        box-shadow: inset 0 0 0 1000px rgba(257,257,257,.7);
        padding: 20px;
      }
    </style>
  </head>

  <body>
    <div class="header">
        <h1>MN Schools COVID19 Data</h1>
      <div class = "headerNav">
        <ul>
          <li><a href="/District/test">Search Districts</a></li>
          <li><a href="#Schools">Search Schools</a></li>
        </ul>
      </div>
    </div>

    <h1 class="heading" style="text-align:center">
      Schools in Minnesota
    </h1>

    <!-- Action buttons that lead to separate pages -->
    <div style="width:100%">
      <button class="button" style="width:30%" onclick="/District/test">Use our smart search</button>
      <button class="button" style="width:30%">See all districts</button>
      <button class="button" style="width:30%" onclick="#Schools">See all schools</button>
    </div>

    <!-- Description of the website and how to use -->
    <div class="block">
      <h2 style="text-align:center">Who are we and what we do</h2>
      <ul style="text-align:left">
        <li>We are MN Schools, and we want to help you find the most suitable school!</li>
        <li>You can use our smart filters and pick the best-fitting place to study.</li>
        <li>If you want to see all schools or districts available, then click on "see all schools/districts".</li>
      </ul>
    </div>

    <br>

    <!-- Data links and legal stuff -->
    <div class="datausage">
      <h2>Data source</h2>
      <p>Data retrieved from <a href="https://www.covidschooldatahub.com/for_researchers">"CovidSchoolDataHub"</a> on 3 April 2022.</p>
      <p><a href="https://www.covidschooldatahub.com/for_researchers/copyright">Data usage policy</a></p>
    </div>
  </body>

</html>
