body {
    background-image: url("../images/map_for_mainpage.png");
    font-size: 20px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body:after {
    content: "";
    background-color: white;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

header, footer, section {
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

header {
    left: 50%;
    transform: translate(-50%, 0%);
}

footer {
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
}


header, footer, section {
    background-color: rgb(257, 257, 257, 0.7);
}


header, footer {
    width: 600px;
}